@import url(../Css/fonts.css);

nav ul {
  padding-right: 180px;
  padding-left: 0;
}

nav ul li {
  margin: 0px 10px;
}

nav li a:hover {
  color: #c14679;
}

nav li a {
  text-decoration: none;
  color: #000;
  transition: 0.6s;
}

.main-div {
  background-image: url("../images/cookies.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 80px;
  box-sizing: border-box;
}

.container {
  min-width: 42%;
  height: 650px;
  margin-right: 150px;
  box-sizing: border-box;
  background-color: #ffffff7b;
  border-radius: 10px;
}

.form-content {
  min-width: 40%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

.form-content h2 {
  font-size: 36px;
  font-family: "BerkshireSwash";
  letter-spacing: 3px;
  color: #c14679;
  transition-duration: 1.2s;
  margin-top: 5px;
  text-align: center;
}

.form-content h2:hover {
  scale: 1.05;
  text-shadow: 2px 2px 3px #4d4d4d;
}

.separator {
  width: 3px;
  height: 500px;
  background-color: #c14679;
  border-radius: 5px;
}

.sign-up {
  width: 280px;
  height: 600px;
  margin-right: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.login {
  width: 280px;
  height: 600px;
  padding: 10px;
  margin-left: 10px;
  box-sizing: border-box;
}

.acc-form input[placeholder] {
  width: 220px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #c14679;
  border: none;
  outline: none;
  font-family: "Gabriela-Regular";
  text-align: center;
}

label:not(label[for="rules"]) {
  display: block;
  margin: 25px 0px 5px 0px;
  text-indent: 10px;
  font-family: "Gabriela-Regular";
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

label[for="rules"] {
  font-family: "Gabriela-Regular";
  font-size: 12px;
}

a {
  text-decoration: none;
  font-family: "Gabriela-Regular";
  color: #000;
  font-size: 14px;
}

.acc-form input[type="submit"] {
  width: 140px;
  height: 50px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #475872 0%, #c14679 51%, #475872 100%);
  color: #fff;
  margin: 5px 20px;
  padding: 5px 5px;
  border-radius: 30px;
  border-style: none;
  font-size: 18px;
  font-family: "Gabriela-Regular";
  cursor: pointer;
}

input[placeholder]:focus {
  border: 2px solid #475872;
  box-shadow: 2px 2px 10px #6f6f6f;
  box-sizing: border-box;
}

input[placeholder]:valid:not(#mail) {
  background-color: #ddffdd;
  border: 2px solid #475872;
  box-sizing: border-box;
}

.btn-signup:hover,
.btn-login:hover {
  background-position: right center;
  box-shadow: 3px 3px 10px #686868;
}

img:not(.logo img) {
  width: 22px;
  height: auto;
  position: relative;
  top: 5px;
}

span {
  display: block;
  height: 30px;
  margin-top: 10px;
  font-weight: bold;
}

span a:hover {
  color: #c14679;
}

.support {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.support p {
  margin-bottom: 20px;
  font-family: "Gabriela-Regular";
  font-size: 12px;
}

.support a {
  color: #c14679;
  font-size: 12px;
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* --------------- media query ------------ */

@media only screen and (max-width: 992px) {
  .container {
    margin: 0 auto;
  }
  .main-div {
    height: fit-content;
    padding-bottom: 125px;
  }
}
@media only screen and (max-width: 768px) {
  nav ul {
    padding-right: 20px;
  }
  .logo {
    padding-left: 10px;
    font-size: 20px;
  }
  .logo img {
    scale: 0.9;
  }
  .main-div {
    height: fit-content;
  }
  .container {
    width: 85%;
    max-width: 500px;
    height: fit-content;
    margin: 0 auto;
  }
  .form-content {
    width: 100%;
    height: fit-content;
  }
  .form-content h2 {
    font-size: 28px;
  }
  .acc-form {
    width: 100%;
    height: inherit;
  }
  .sign-up,
  .login {
    width: 90%;
    padding: 2px;
    margin: 0 auto;
  }
  .acc-form input[placeholder] {
    width: 80%;
    max-width: 220px;
    height: 30px;
    font-size: 12px;
  }
  label:not(label[for="rules"]) {
    font-size: 12px;
    margin: 12px;
  }
  .acc-form input[type="submit"] {
    scale: 0.8;
  }
  img:not(.logo img) {
    width: 18px;
    top: 2px;
  }
}

@media only screen and (max-width: 600px) {
  nav ul {
    padding-right: 10px;
  }
  .logo {
    padding-left: 10px;
    font-size: 18px;
  }
  .logo img {
    scale: 0.8;
  }
  .main-div {
    height: fit-content;
  }
  .container {
    width: 70%;
    max-width: 380px;
    min-width: 280px;
    height: fit-content;
    margin: 0 auto;
  }
  .form-content {
    width: 100%;
    height: fit-content;
    flex-direction: column;
  }
  .separator {
    width: 180px;
    height: 5px;
    margin: 10px 0px;
  }
  .form-content h2 {
    font-size: 22px;
  }
  .acc-form {
    width: 100%;
    height: inherit;
  }
  .sign-up,
  .login {
    width: 90%;
    height: 500px;
    padding: 2px;
    margin: 0 auto;
  }
  .acc-form input[placeholder] {
    width: 80%;
    max-width: 220px;
    min-width: 160px;
    height: 30px;
    font-size: 12px;
  }
  label:not(label[for="rules"]) {
    font-size: 12px;
    margin: 12px;
    text-align: center;
    text-indent: 0px;
  }
  .acc-form input[type="submit"] {
    scale: 0.7;
  }
  img:not(.logo img) {
    width: 16px;
    top: 2px;
  }
}
